body {
    font-family: arial, Helvetica, "Comic Sans MS", sans-serif;
}

img {
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
}

h1, h2, p {
    text-align: center;
    margin: 30px;
}

p {
    line-height: 2;
}

nav ul{
    list-style-position: inside;
    text-align: center;
}

li {
    padding: 8px;
    align-content: center;
}